.git
src/tecnoballz
Makefile
Makefile.in
config.h
*.m4
*.cache
*.guess
*.sub
configure
depcomp
install-sh
missing
*.o
*.a
*.exe
*.dll
*.bat
*.dge
*.zip
*~.c
*~.cpp
*~.h
*~.txt
dosbox
.deps
*.Po
*.log
*.status
*.diff
stamp-h1
